<!DOCTYPE html>
<html>
    <head>
        <title>Bless Email Password Form</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }
            input {
                display: block;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            <login-form />
           
        <hr />
            <button @click="toggleBox">Toggle Box</button>
            <div v-if="isVisible" class="box"></div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp(
                {
                    data: function() {
                        return {
                            greeting: 'Hello World',
                            isVisible: false,
                        }
                    },
                    methods: {
                        toggleBox: function() {
                            this.isVisible = !this.isVisible
                        },
                        greet: function() {
                            console.log(greeting)
                        }
                    }
                }
            )

            app.component('login-form',
                {
                    template: `
                        <form @submit.prevent="handleSubmit">
                            <h1>{{ title }}</h1>
                            <p v-for="(bal_item, i) in inputs" :key="i">{{ i }}</p>
                            <custom-input v-model="email" :label="emailLabel" />
                            <custom-input v-model="password" :label="passwordLabel" />
                            <button type="submit">Login</button>
                        </form>
                    `,
                    components: ['custom-input'],
                    data() {
                        return {
                            title: 'Login',
                            inputs: [
                                'email',
                                'password',
                                'name',
                            ],
                            email: 'Default@email.com',
                            password: 'RandomPassword',
                            emailLabel: 'Email',
                            passwordLabel: 'Password'
                        }
                    },
                    methods: {
                        handleSubmit: function() {
                            console.log(this.email, this.password)
                        }
                    }
                }
            )
            app.component('custom-input',
                {
                    template: `
                        <div>
                            <label>{{ label }}</label>
                            <input type="text" v-model="inputValue" />
                        </div>
                    `,
                    props: ['label', 'modelValue'],
                    computed: {
                        inputValue: {
                            get() {
                                return this.modelValue
                            },
                            set(value){
                                this.$emit('update:modelValue', value)
                            }
                        }
                    }
                }
            )

            app.mount('#app')

        </script>
    </body>
</html>