<!DOCTYPE html>
<html>
    <head>
        <title>Bless Email Password Form</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }
            input {
                display: block;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            <login-form />
           
        <hr />
            <button @click="toggleBox">Toggle Box</button>
            <div v-if="isVisible" class="box"></div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp(
                {
                    data: function() {
                        return {
                            greeting: 'Hello World',
                            isVisible: false,
                        }
                    },
                    methods: {
                        toggleBox: function() {
                            this.isVisible = !this.isVisible
                        },
                        greet: function() {
                            console.log(greeting)
                        }
                    }
                }
            )

            app.component('login-form',
                {
                    template: `
                        <form @submit.prevent="handleSubmit">
                            <h1>{{ title }}</h1>
                            <input type="email" v-model="email" :label="emailLabel" />
                            <input type="password" v-model="password" />
                            <button type="submit">Login</button>
                        </form>
                    `,
                    data() {
                        return {
                            title: 'Login',
                            email: '',
                            password: ''
                        }
                    },
                    methods: {
                        handleSubmit: function() {
                            console.log(this.email, this.password)
                        }
                    }
                }
            )

            app.mount('#app')

        </script>
    </body>
</html>