<!DOCTYPE html>
<html>
    <head>
        <title>Bless Home</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            {{ greeting }}
            <input @keyup.enter="greet(greeting + '!!!!!!!!!!!')" v-model="greeting" />

        <hr />

            <button @click="toggleBox">Toggle Box</button>
            <test-box v-if="isVisible"></div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp(
                {
                    data: function() {
                        return {
                            greeting: 'Hello Qur\'an',
                            isVisible: false
                        }
                    },
                    methods: {
                        toggleBox: function() {
                            this.isVisible = !this.isVisible
                        },
                        greet: function() {
                            console.log(this.greeting)
                        }
                    }
                }
            )
            app.component('test-box', {
                template: `
                    <div class="box"></div>
                `,
                created() {
                    console.log('test-box created')
                },
                mounted() {
                    console.log('test-box mounted')
                },
                unmounted() {
                    console.log('test-box unmounted')
                }
            })
            app.mount('#app')
        </script>
        
    </body>
</html>